#about
    padding: 90px 0px
    h1
        font-weight: 700
        font-size: 55px
    h3,p
        font-size: 20px
        color: #777575
    h3
        margin: 20px 0 65px
    .box
        display: flex
        flex-direction: column
        position: relative
        width: 300px
        height: 300px
        .textbox
            width: 350px
        h2
            font-size: 25px
            font-weight: 700
            line-height: 1.2
        p
            margin-top: 20px
            line-height: 1.2
        .imgbox
            border-radius: 100px
            
            

