#about
    padding: 90px 0px
    h1
        font-weight: 700
        font-size: 55px
        font-family: sans-serif
    h3,p
        font-size: 20px
        color: #777575
    h3
        margin: 20px 0 65px
        font-style: italic
        font-family: math
    .box
        display: flex
        flex-direction: column
        position: relative
        width: 400px
        .textbox1
            width: 350px
        h2
            font-size: 25px
            font-weight: 700
            line-height: 1.2
            font-family: sans-serif
        p
            margin-top: 20px
            line-height: 1.2
            font-family: serif
        .imgbox1
            position: absolute
            top: 0
            left: 450px
            border-radius: 100px
            
            

