header
    padding: 20px 0
    background-color: #353333
    position: sticky
    top: 0
    z-index: 1
    .menu
        display: flex
        justify-content: space-between
        align-items: center
        .imgbox
            width: 200px
        nav
            display: block
            a
                cursor: pointer
                font-size: 18px
                color: #fcf7f7
                margin-right: 30px
            &:hover
                color: #f8cf75
    .btn
        display: none
    @media screen and ( max-width: 992px )
        .menu
            .imgbox
                width: 230px
            nav
                display: none
            .btn
                display: block
                border: 2px solid #4a4949
                border-radius: 10px
                background-color: #353333
                padding: 13px 35px 13px 13px
                color: #a5a2a2
                font-weight: 700
                font-size: 18px
    @media screen and ( max-width: 576px )
        .menu
            display: flex
            justify-content: center
            align-items: center
            .imgbox
                width: 250px
            .btn
                padding: 15px 40px 15px 15px
                font-size: 22px
    @media screen and ( max-width: 280px )
        .menu
            display: flex
            justify-content: start
            flex-flow: column
            .imgbox
                width: 300px
            .btn
                padding: 18px 45px 18px 18px
                font-size: 30px
