header
    padding: 20px 0
    background-color: #353333
    z-index: -1
    width: 100%
    .imgbox
        width: 160px
    nav
        a
            font-size: 18px
            color: #fcf7f7
            margin-right: 30px
            &:hover
                color: #f8cf75
