#portfolio
    padding: 90px 0px
    background-color: #f7f7f7
    .textbox
        h1
            font-weight: 700
            font-size: 55px
        h3
            font-size: 20px
            color: #777575
            margin: 20px 0 65px
    .box
        background-color: #ffff
        width: 360px
        height: 380px
        margin: 0 20px 20px 0
        .imgbox
            position: relative
            .minibox
                position: absolute
                top: 0
                left: 0
                width: 360px
                height: 270px
                opacity: 0
                h5
                    color: #ffff
                    text-align: center
                    line-height: 1.8
                    font-size: 130px
                    font-weight: 300
                &:hover
                    width: 100%
                    height: 100%
                    background-color: #f2c13a
                    opacity: 1
                    transition: 1s
        .textbox
            h2
                font-size: 25px
                font-weight: 700
                margin: 25px 0 10px
            h4
                font-size: 18px
                color: #777575
