#welcome
    background-image: url("Assets/header-bg.jpg")
    background-size: cover
    background-position: center center
    .box
        width: 950px 
        height: 800px
        .textbox
        h2
            font-size: 42px
            color: #ffff
        h1
            font-weight: 700
            font-size: 72px
            color: #ffff
            margin: 30px 40px 40px
        .btn
            display: inline-block
            font-weight: 700
            color: #ffff
            cursor: pointer
            background-color: #fdda2a
            padding: 15px 40px
            font-size: 20px
