body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.imgbox {
  overflow: hidden;
}
.imgbox img {
  width: 100%;
}

section {
  padding: 80px 0;
}

header {
  padding: 20px 0;
  background-color: #353333;
  position: sticky;
  top: 0;
  z-index: 1;
}
header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .menu .imgbox {
  width: 200px;
}
header .menu nav {
  display: block;
}
header .menu nav a {
  cursor: pointer;
  font-size: 18px;
  color: #fcf7f7;
  margin-right: 30px;
}
header .menu nav a:hover {
  color: #f8cf75;
}
header .btn {
  display: none;
}
@media screen and (max-width: 992px) {
  header .menu .imgbox {
    width: 230px;
  }
  header .menu nav {
    display: none;
  }
  header .menu .btn {
    display: block;
    border: 2px solid #4a4949;
    border-radius: 10px;
    background-color: #353333;
    padding: 13px 35px 13px 13px;
    color: #a5a2a2;
    font-weight: 700;
    font-size: 18px;
  }
}
@media screen and (max-width: 576px) {
  header .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .menu .imgbox {
    width: 250px;
  }
  header .menu .btn {
    padding: 15px 40px 15px 15px;
    font-size: 22px;
  }
}
@media screen and (max-width: 280px) {
  header .menu {
    display: flex;
    justify-content: start;
    flex-flow: column;
  }
  header .menu .imgbox {
    width: 300px;
  }
  header .menu .btn {
    padding: 18px 45px 18px 18px;
    font-size: 30px;
  }
}

#welcome {
  background-image: url("Assets/header-bg.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 800px;
}
#welcome .box {
  height: 710px;
}
#welcome .textbox h2 {
  font-size: 45px;
  color: white;
  cursor: text;
}
#welcome .textbox h1 {
  font-weight: 700;
  font-size: 100px;
  color: white;
  margin: 25px 0 65px;
  cursor: text;
}
#welcome .textbox .btn {
  font-weight: 700;
  background-color: #eab629;
  border-radius: 7px;
  padding: 20px 50px;
}
#welcome .textbox .btn h3 {
  font-size: 22px;
  color: white;
  cursor: pointer;
}
#welcome .textbox .btn:hover {
  background-color: #d3a31e;
}
@media screen and (max-width: 992px) {
  #welcome .box {
    width: 600px;
    height: 625px;
  }
  #welcome .box h1 {
    font-size: 85px;
  }
  #welcome .box .btn {
    padding: 20px 48px;
    font-size: 22px;
  }
}
@media screen and (max-width: 768px) {
  #welcome .box {
    height: 720px;
  }
  #welcome .box h1 {
    font-size: 73px;
  }
  #welcome .box h2 {
    font-size: 35px;
  }
}

#services {
  padding: 90px 0;
  width: 1300px;
}
#services h1 {
  font-weight: 700;
  font-size: 55px;
}
#services h3 {
  font-size: 22px;
  color: #777575;
  margin: 20px 0 65px;
}
#services .box {
  flex-wrap: wrap;
  width: 360px;
  height: 380px;
  position: relative;
}
#services .box .minibox {
  display: inline-block;
  width: 140px;
  height: 140px;
  background-color: #f2c13a;
  border-radius: 70px;
}
#services .box .minibox .icon {
  text-align: center;
  position: absolute;
  top: 30px;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 70px;
  color: white;
}
#services .box .textbox h2 {
  font-weight: 700;
  font-size: 32px;
  margin: 15px 20px;
}
#services .box .textbox h4 {
  font-size: 20px;
  color: #868484;
  line-height: 1.4;
}
@media screen and (max-width: 1200px) {
  #services .box {
    width: 305px;
  }
  #services .box .textbox {
    width: 310px;
  }
}
@media screen and (max-width: 992px) {
  #services .box {
    width: 220px;
  }
  #services .box .textbox {
    width: 216px;
  }
}
@media screen and (max-width: 768px) {
  #services .box {
    width: 520px;
  }
  #services .box .textbox {
    width: 520px;
  }
}
@media screen and (max-width: 576px) {
  #services .box .textbox {
    width: 500px;
  }
}

#portfolio {
  padding: 90px 0px;
  background-color: #f7f7f7;
}
#portfolio .textbox h1 {
  font-weight: 700;
  font-size: 55px;
}
#portfolio .textbox h3 {
  font-size: 20px;
  color: #777575;
  margin: 20px 0 65px;
}
#portfolio .box {
  background-color: white;
  width: 360px;
  height: 380px;
  margin: 0 20px 20px 0;
}
#portfolio .box .imgbox {
  position: relative;
}
#portfolio .box .imgbox .minibox {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 270px;
  opacity: 0;
}
#portfolio .box .imgbox .minibox h5 {
  color: white;
  text-align: center;
  line-height: 1.8;
  font-size: 130px;
  font-weight: 300;
}
#portfolio .box .imgbox .minibox:hover {
  width: 100%;
  height: 100%;
  background-color: #f2c13a;
  opacity: 1;
  transition: 1s;
}
#portfolio .box .textbox h2 {
  font-size: 25px;
  font-weight: 700;
  margin: 25px 0 10px;
}
#portfolio .box .textbox h4 {
  font-size: 18px;
  color: #777575;
}

#about {
  padding: 90px 0px;
}
#about h1 {
  font-weight: 700;
  font-size: 55px;
}
#about h3, #about p {
  font-size: 25px;
  color: #777575;
}
#about h3 {
  margin: 20px 0 65px;
}
#about .box {
  display: flex;
  flex-flow: column;
  position: relative;
  left: 90px;
  width: 200px;
}
#about .box .textbox {
  width: 400px;
}
#about .box .textbox2 {
  position: absolute;
  top: 350px;
  left: 680px;
}
#about .box h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.3;
}
#about .box p {
  margin-top: 20px;
  line-height: 1.3;
}
#about .box .imgbox {
  border-radius: 200px;
}
#about .box .imgbox1 {
  position: absolute;
  top: 17px;
  left: -460px;
}/*# sourceMappingURL=style.css.map */